# Framework for extracting data from websites
# https://docs.scrapy.org/en/latest/
scrapy

# Library to sort imports alphabetically
# https://pypi.org/project/isort/
isort

# Invoke is a Python (2.7 and 3.4+) task execution tool & library,
# drawing inspiration from various sources to arrive at a powerful & clean feature set.
# http://www.pyinvoke.org/
invoke

# iPython tools
ipdb
ipython
